# This is a basic workflow to help you get started with Actions

name: CI

on:
  pull_request:
    branches: ["main"]
    types: [closed]

  workflow_dispatch:

jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master

      - name: Merge by labeled
        uses: devmasx/merge-branch@master
        with:
          target_branch: "stage"
          github_token: ${{ secrets.TOKEN }}
